@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Play:wght@400;700&display=swap");

.main {
  background-color: rgba(117, 117, 117, 0.377);
  min-height: 100vh;
  font-family: "Play";
  overflow: hidden;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10.5rem;
  max-height: 90vh;
}

.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 3.5rem;
}

.form input[type="text"] {
  width: 250px;
  height: 50px;
  margin: 10px 5px;
  padding: 10px;

  border: 1px solid #0d98ba;
  border-radius: 4px;

  font-size: 1.1em;
}

.form input[type="submit"] {
  color: rgba(255, 255, 255, 0.89);
  background-color: #15c2ee;

  width: 120px;
  height: 50px;
  margin: 10px 5px;
  padding: 10px;

  border: none;
  border-radius: 4px;

  font-size: 1.3em;
  font-weight: 500;

  cursor: pointer;
  transition: all 250ms ease;
}

.form input[type="submit"]:hover {
  background-color: #0d98ba;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 15px;
}

.nav h1 {
  font-size: 3vw;
}

.nav button {
  width: 175px;
  background-color: #15c2ee;
  color: rgba(255, 255, 255, 0.89);
  font-size: 1.15em;
  padding: 7px;
  border: none;
  border-radius: 4px;
  transition: all 250ms ease;
}

.nav button:hover {
  cursor: pointer;
  background-color: #0d98ba;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  padding: 4px;
}

.image > div,
.image > div > div {
  display: flex;
  align-items: center;
}

.image a {
  color: #15c2ee;
}

.image a:hover {
  color: #0d98ba;
}
